@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prereq Checker</h1>
    <p class="lead">Determine what classes are needed and what is opened up from taking a class.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search for a class!</h2>
        <p>
            Not sure what class youre interested in? Just search a keyword in the search bar and all classes that contain that keyword will be pop up!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Simulate taking classes from currently offered courses</h2>
        <p>Click ont he students link, create a new student or choose one of the dynamically generated ones and simulate taking courses!</p>
    </div>
    <div class="col-md-4">
        <h2>See what's offered this quarter</h2>
        <p>Clearly see all classes that are offered this quarter.</p>
    </div>
</div>